.App {
  text-align: center;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255, 0.15);
  padding: 20px;
  border-radius: 10px;
}

.container ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

/* 画像回転アニメーション */
.rotate {
  animation: rotate_anime 4s linear infinite;
}
@keyframes rotate_anime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shell{
  background-color: #282c34;
  padding: 4px 25px;
  color: #eee;
  border-radius: 8px;
  font-weight: 200;
}

.tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 600;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.intro {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2.75em;
  font-weight: 900;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.change-mode {
  position: absolute;
  top: 25px;
  right: 25px;
}

.icons-social i {
  padding: 10px;
  font-size: 2em;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

/* Daylight CSS */

.daylight .App-main {
  color: white;
}

.daylight .change-mode:before {
  color: yellow;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  content: '\f185';
}

.daylight .icons-social a {
  color: #fafafa;
}

.daylight .icons-social a svg path {
  fill: #fafafa;
}